:root{
    --red: #FF0000;
    --white: #ffffff;
    --black: #000000;
}

body{
    background-image: url(../images/bg/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: none;
}

/*========== NAVBAR =================*/

a, i, .navbar-brand:hover, .login-btn, .nav-link{
    color: var(--white) !important;
}

.nav-link:hover, .login-btn:hover{
    color: var(--red) !important;
}

.bg-dark{
    background-color: var(--black) !important;
}

.dropdown-item{
    background-color: var(--black) !important;
    color: var(--white) !important;
}

.text{
    position: absolute;
    backdrop-filter: blur(90px);
    text-align: center;
    font-size: 20vh;
    text-decoration:solid;
    top: 38%;
    left: 34%;
    color: white;
    border-radius: 50px;
    padding: 40px 20px 40px 20px;   
}