:root{
    --red: #FF0000;
    --white: #ffffff;
    --black: #000000;
}

body{
    background-image: url(../images/bg/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: none;
    background-attachment: fixed;

}

/*========== NAVBAR =================*/

a, i, .navbar-brand:hover, .login-btn, .nav-link{
    color: var(--white) !important;
}

.nav-link:hover, .login-btn:hover{
    color: var(--red) !important;
}

/*.bg-dark{
    background-color: var(--black) !important;
}*/

.dropdown-menu, .dropdown-item{
    background-color: var(--black) !important;
    color: var(--white) !important;
}

.dropdown-item:hover{
    color: var(--red) !important;
}

.row{
	margin-left: 0% !important;
	margin-right: 0% !important;
}

.sr-text {
	padding-top: 2.5rem;
	font-style: bold;
	font-size: 3rem;
}
