:root{
    --red: #FF0000;
    --white: #ffffff;
    --black: #000000;
}

body{
    background-image: url(../images/bg/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*========== NAVBAR =================*/

a, i, .navbar-brand:hover, .login-btn, .nav-link{
    color: var(--white) !important;
}

.nav-link:hover, .login-btn:hover{
    color: var(--red) !important;
}

.bg-dark{
    background-color: black !important;
}

.dropdown-item{
    background-color: var(--black) !important;
    color: var(--white) !important;
}

/*========== FLEX ITEM LANDING PAGE =================*/

.flexbox-container-landing{
    position: relative;
    background: #e3e3e3;
    border: 2px solid black;
    height: 100%;
    width:100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.flex-item-1, .flex-item-2{
    position: relative;
    padding: 20px;
    width: 180px;
    height: 100px;
}

.flex-item-1{
    background-color: red;
}

.flex-item-2{
    background-color: green;
}